{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}
    </p>
    <p>
        {{ form.is_teacher }} {{ form.is_teacher.label }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}