{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Register</h2>
            <form method="POST" action="{{ url_for('register') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }} {{ form.username(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label }} {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label }} {{ form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
                </div>
                <div class="form-check">
                    {{ form.is_teacher(class="form-check-input") }}
                    {{ form.is_teacher.label(class="form-check-label") }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
{% endblock %}